<section id="contact" class="contact sections">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <a href="#!/napSpace/list">Back to Home</a>
                <div class="head_title text-center">
                    <h2>List a new Nap Space</h2>
                </div>
                <div class="contact_content">
                    <!-- <div class="col-md-6"> -->
                        <div class="single_left_contact">
                            <form action="#" id="formid" ng-submit="addNapSpace()">
                                <div>
                                    <input class="form-control" placeholder="Listing Title" type="text" ng-model="newNapSpace.title" required>
                                </div>
                                <br>
                                <div>
                                    <input class="form-control" placeholder="Price Per Hour" type="text" ng-model="newNapSpace.price" required>
                                </div>
                                <br>
                                <div>
                                    <input class="form-control" placeholder="Description" type="text" ng-model="newNapSpace.description" required>
                                </div>
                                <br>
                                <div>
                                    <input class="form-control" placeholder="Address" type="text" ng-model="newNapSpace.address" required>
                                </div>
                                <br>
                                <div>
                                    <input class="form-control" placeholder="Payment Types Accepted" type="text" ng-model="newNapSpace.payment" required>
                                </div>
                                <br>
                                <div>
                                    <input class="form-control" placeholder="Rules" type="text" ng-model="newNapSpace.rules" required>
                                </div>
                                <br>
                                <div>
                                    Picture:
                                    <input class="form-control" placeholder="Select a Picture" id="uploadFile" type="file" ng-model="newNapSpace.picture" accept=".jpg, .jpeg, .png" required>
                                </div>
                                <br>

                                <input type="checkbox" id="termsCheckbox" required>I have read and agree to the
                                <a href="#!/napSpace/terms">Terms of Service</a> for BYOB(lanket)
                                <br>
                                <br>
                                <button>Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>