<a href="#!/napSpace/list">Back to Home</a>
<br>
<br>
<h1>{{ napSpace.title }} {{ napSpace.price }}</h1>
<h3>{{ napSpace.description }}</h3>
<p>Accepted Payment: {{ napSpace.payment }}</p>
<p>Nap Space Rules: {{ napSpace.rules }}</p>
<img src="{{ napSpace.picture }}" width="300px">
<!-- <div ng-include="'./app/napSpace/partials/map.html'"></div> -->
<div id="map"></div>
<br>

<!-- AAAAHHHH HOW TO I MAKE THE DATE CONNECT TO THE TIME???? -->
<!-- <input id="date" type="date">Date
<input id="time" type="time" ng-model="napSpace.unavailable[0]">Starting Time
<input id="time" type="time" ng-model="napSpace.unavailable[1]">Ending Time
<button id="reserveButton" ng-click="makeReservation()">Reserve</button> -->

<br>
<br>
<a href="#!/napSpace/list">Back to Home</a>