<a href="#!/napSpace/list">Back to Home</a>
<br>
<br>
<h1>{{ napSpace.title }} {{ napSpace.price }}</h1>
<h3>{{ napSpace.description }}</h3>
<p>Accepted Payment: {{ napSpace.payment }}</p>
<p>Nap Space Rules: {{ napSpace.rules }}</p>
<img src="{{ napSpace.picture }}" width="500px">

<div id="map"></div>
<br>

<div ng-controller="detailController">
    <input id="title" type="title" ng-model="reservation.title" placeholder="Napper Name"><br>
    <input id="startTime" type="date" ng-model="reservation.start">Start Date<br>
    <input id="time" type="time" ng-model="reservation.start">Start Time<br>
    <input id="startTime" type="date" ng-model="reservation.end">End Date<br>
    <input id="endTime" type="time" ng-model="reservation.end">End Time<br>
    <input id="colorPicker" type="color" ng-model="reservation.color">Pick a Color!<br>
    <button ng-click="makeReservation()">Make a Nap Reservation</button><br>
    <div id="calendar" fc fc-options="optionsObj" ng-model="events"></div>
</div>

<br>
<br>
<a href="#!/napSpace/list">Back to Home</a>