<header id="home" class="home">
    <div class="overlay-fluid-block">
        <div class="container text-center">
            <div class="row">
                <div class="home-wrapper">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 id="title">BYOB(lanket)&trade;</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>