<section id="features" class="features sections">
    <h2 >Nap Spaces in Your Area</h2>
    <div class="input-group">
        <input type="text" class="listing-search" ng-model="query" placeholder="Search">
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="main_features_content2">
                <div class="col-sm-6">
                    <div class="single_features_left text-center">
                        <div ng-repeat="napSpace in spaces | filter: query">
                            <a href="#!/napSpace/detail/{{ napSpace.id }}">{{ napSpace.title }} {{ napSpace.price }}</a>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 margin-top-60">
                    <div class="single_features_right ">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>