#map {
    height: 400px;
    width: 500px;
  }
@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/273445/Avenir.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
  font: 62.5%/1.5 Avenir, Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  color: #2a2a21;
}
body {
  font-size: 1.6rem;
}